
<!-- Register popup Start-->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="register-popup-bg">
				<div class="col-sm-6 float">
					<div class="login-bg">
						<div class="login-heading-bg">
							<div class="login">
								<h2>Login</h2>
							</div>
						</div>
						<app-login></app-login>
					<div class="clear"></div>
					</div>
					
					
				</div>
				<div class="col-sm-6 float">
					<div class="login-bg">
						<div class="register-heading-bg">
							<div class="login">
								<h2>Register</h2>
							</div>
						</div>
						<form class="padding">
  						<div class="form-group">
    						<label for="exampleInputEmail1"><div class="login"><h3>First Name</h3></div></label>
    						<input type="email" class="form-control" id="exampleInputEmail11" placeholder="First Name">
  						</div>
  						<div class="form-group">
    						<label for="exampleInputEmail1"><div class="login"><h3>Last Name</h3></div></label>
    						<input type="email" class="form-control" id="exampleInputEmail111" placeholder="Last Name">
  						</div>
  						<div class="form-group">
    						<label for="exampleInputEmail1"><div class="login"><h3>Email address</h3></div></label>
    						<input type="email" class="form-control" id="exampleInputEmail118" placeholder="Email address">
  						</div>
  						<div class="form-group">
    						<label for="exampleInputEmail1"><div class="login"><h3>Phone Number</h3></div></label>
    						<input type="email" class="form-control" id="exampleInputEmail116" placeholder="Phone Number">
  						</div>
  						<div class="form-group">
    						<label for="exampleInputPassword1"><div class="login"><h3>Password</h3></div></label>
    						<input type="password" class="form-control" id="exampleInputPassword12" placeholder="Password">
  						</div>
  						<div class="form-group">
    						<label for="exampleInputPassword1"><div class="login"><h3>Confirm Password</h3></div></label>
    						<input type="password" class="form-control" id="exampleInputPassword123" placeholder="Confirm Password">
  						</div>
  						<button type="submit" class="login-popup-button">Register</button>
					</form>
					<div class="clear"></div>
					</div>
					
					
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
