<!-- Banner Section Start-->
<div class="booking-banner">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="booking-banner-heading">
					<h2>
						<span>Passenger &</span> Trip Detail</h2>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its
						layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
						using 'Content here, content here', making it look like readable English.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="quote-banner-border"></div>
<!-- Banner Section End-->

<app-quote-navigate-component [currentStage]="'summary'"></app-quote-navigate-component>


<!-- Passenger Detail Section Start-->
<div #scrollToDiv class="container">
	<div class="row">
		<div class="col-sm-8">
			<div class="vehicle-heading">
				<h3>Passenger Details</h3>
			</div>
			<div class="clear"></div>
			<div class="row row-margin">
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Title
								<span>{{quoteDetail.customer?.title}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3 *ngIf="quoteDetail.booking_for_self === 'self'">Name
								<span>{{quoteDetail.customer?.name}}</span>
							</h3>
							<h3 *ngIf="quoteDetail.booking_for_self === 'someone'">Name
								<span>{{quoteDetail.passenger_name}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Surname
								<span>{{quoteDetail.customer?.surname}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3 *ngIf="quoteDetail.booking_for_self === 'self'">Phone
								<span>{{quoteDetail.customer?.phone}}</span>
							</h3>
							<h3 *ngIf="quoteDetail.booking_for_self === 'someone'">Phone
								<span>{{quoteDetail.contact_no}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div *ngIf="quoteDetail.booking_for_self === 'self'" class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Email
								<span >{{quoteDetail.customer?.email}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div *ngIf="quoteDetail.booking_for_self === 'someone'" class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Email
								<span>{{quoteDetail.email}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Booking For
								<span>{{quoteDetail.booking_for_self}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Passengers
								<span>{{quoteDetail.no_of_passengers}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Child Detail
								<span>{{quoteDetail.no_of_childseats}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Suit cases
								<span>{{quoteDetail.no_of_suitcases}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-6 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h3>Carry on
								<span>{{quoteDetail.no_of_handcarry}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-12 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h4>Pickup Details:</h4>
							<p *ngIf="pickupDetail != undefined">{{pickupDetail?.from}}</p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-12 trip-padding">
					<div class="trip-detail-box">
						<div class="trip-detail-heading">
							<h4>Drop off Details:</h4>
							<p>{{pickupDetail?.to}}</p>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="vehicle-heading">
				<h3>Trip Details</h3>
			</div>
			<div class="clear"></div>
			<div class="trip-detail-right-box">
				<div class="col-sm-12">
					<div class="trip-detail-box-1">
						<div class="trip-detail-heading">
							<h3>date
								<span>{{quoteDetail.date * 1000 | date}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="trip-detail-box-1">
						<div class="trip-detail-heading">
							<h3>Time
								<span>{{date}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="trip-detail-box-1">
						<div class="trip-detail-heading">
							<h3>Pick up Location
								<span>{{quoteDetail.bookingroutes[0].from}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="trip-detail-box-1">
						<div class="trip-detail-heading">
							<h3>Drop off Location
								<span>{{quoteDetail.bookingroutes[0].to}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="trip-detail-box-1">
						<div class="trip-detail-heading">
							<h3>Vehicle
								<span>{{quoteDetail.car?.name}}</span>
							</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
<!-- Passenger Detail Section End-->

<!-- Next Button Section Start-->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="text-right">
				<button (click)="back()" type="submit" class="quote-next-btn">Back</button>					
				<button (click)="next()" type="submit" class="quote-next-btn">Next</button>
			</div>
		</div>
	</div>
</div>
<!-- Next Button Section End-->