<div class="modal_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3" (click)="ignoreClick($event)">
        <div class="login-bg" style="min-height: 100%;" *ngIf="!reset">
          <div class="login-box">
            <h1>Reset Password</h1>
          </div>
          <div class=" col-sm-12" *ngIf=" !verifyResponse && loading ">
            <h3 class="reset-h3">Your link is been verified</h3>
            <br />
            <h3 class="reset-h3" style="font-size: 17px !important;">Please wait</h3>
          </div>
          <div class=" col-sm-12" *ngIf="successreset && !loading && verifyResponse">
            <h3 class="reset-h3">Successfully Reset</h3>
            <br />
            <h3 class="reset-h3" style="font-size: 17px !important;">Please login with your new password</h3>
            <div class="text-center">
              <button (click)="login()" class="login-popup-button" style="text-align: center; float: unset;">Login</button>
            </div>
          </div>
          <div class="col-sm-12 login" *ngIf="!verifyResponse && !loading">
            <h3 class="reset-h3">Not verified</h3>
            <br />
            <div class="text-center">
              <button (click)="navigate()" class="login-popup-button verify-ok-btn">Okay</button>
            </div>
          </div>
          <div *ngIf="!successreset && verifyResponse && !loading">
            <form class="padding">
              <div class="form-group" [formGroup]="resetForm">
                <label for="exampleInputPassword1">
                  <div class="login">
                    <h3>Password</h3>
                  </div>
                </label>
                <input type="password" class="form-control" id="exampleInputPassword12" name="password" formControlName="password" placeholder="Password">
              </div>
              <div class="form-group" [formGroup]="resetForm">
                <label for="exampleInputPassword1">
                  <div class="login">
                    <h3>Confirm Password</h3>
                  </div>
                </label>
                <input type="password" class="form-control" id="exampleInputPassword123" name="confirmPassword" formControlName="confirmPassword"
                  placeholder="Confirm Password">
              </div>
              <button type="submit" (click)="resetSubmit()" class="login-popup-button">Reset</button>
            </form>
          </div>
          <div *ngIf="loading">
            <app-loader-component [width]="80"></app-loader-component>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-login *ngIf="loginEnable" [close]="closeLogin" [belongs_to]="'main'" [setUser]="setUser" [skipCheck]="skipCheck"></app-login>
