
<!-- Banner Section Start-->
<div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <app-pickup-main-component></app-pickup-main-component>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner Section End-->
  
  <!-- Fleet Section Start-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5>Our Fleet</h5>
        <div class="fleet-heading">
          <div class="text-center">
            <p>Choose from a wide selection of boats ranging from luxury motor yachts to classic sailing yachts, we have every type of boat available to meet your needs. We also take custom orders and will help you acquire a specific yacht.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="fleet-box">
          <div class="text-center">
            <a href="#"><img class="fleet-car-image" [src]="assetsUrl + 'images/fleet-car-image-1.jpg'" alt=""/></a>
          </div>
          <div class="fleet-border"></div>
          <div class="col-sm-12">
            <button type="submit" class="btn fleet-price-btn">From $130</button>
          </div>
          <div class="col-sm-12">
          <h6>BMW Grand Sedan</h6>
          <div class="clear"></div>
          <img class="fleet-ture-icon" [src]="assetsUrl + 'images/fleet-true-icon.png'" alt=""/>
          <div class="fleet-icon-heading">
          <h2>4 Passengers</h2> 
          </div>
          <div class="clear"></div>
          <img class="fleet-ture-icon" [src]="assetsUrl + 'images/fleet-true-icon.png'" alt=""/>
          <div class="fleet-icon-heading">
          <h2>2 Bags</h2> 
          </div>
          </div>
          <div class="clear"></div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="fleet-box">
          <div class="text-center">
            <a href="#"><img class="fleet-car-image" [src]="assetsUrl + 'images/fleet-car-image-1.jpg'" alt=""/></a>
          </div>
          <div class="fleet-border"></div>
          <div class="col-sm-12">
            <button type="submit" class="btn fleet-price-btn">From $130</button>
          </div>
          <div class="col-sm-12">
          <h6>BMW Grand Sedan</h6>
          <div class="clear"></div>
          <img class="fleet-ture-icon" [src]="assetsUrl + 'images/fleet-true-icon.png'" alt=""/>
          <div class="fleet-icon-heading">
          <h2>4 Passengers</h2> 
          </div>
          <div class="clear"></div>
          <img class="fleet-ture-icon" [src]="assetsUrl + 'images/fleet-true-icon.png'" alt=""/>
          <div class="fleet-icon-heading">
          <h2>2 Bags</h2> 
          </div>
          </div>
          <div class="clear"></div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="fleet-box">
          <div class="text-center">
            <a href="#"><img class="fleet-car-image" [src]="assetsUrl + 'images/fleet-car-image-1.jpg'" alt=""/></a>
          </div>
          <div class="fleet-border"></div>
          <div class="col-sm-12">
            <button type="submit" class="btn fleet-price-btn">From $130</button>
          </div>
          <div class="col-sm-12">
          <h6>BMW Grand Sedan</h6>
          <div class="clear"></div>
          <img class="fleet-ture-icon" [src]="assetsUrl + 'images/fleet-true-icon.png'" alt=""/>
          <div class="fleet-icon-heading">
          <h2>4 Passengers</h2> 
          </div>
          <div class="clear"></div>
          <img class="fleet-ture-icon" [src]="assetsUrl + 'images/fleet-true-icon.png'" alt=""/>
          <div class="fleet-icon-heading">
          <h2>2 Bags</h2> 
          </div>
          </div>
          <div class="clear"></div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="fleet-box">
          <div class="text-center">
            <a href="#"><img class="fleet-car-image" [src]="assetsUrl + 'images/fleet-car-image-1.jpg'" alt=""/></a>
          </div>
          <div class="fleet-border"></div>
          <div class="col-sm-12">
            <button type="submit" class="btn fleet-price-btn">From $130</button>
          </div>
          <div class="col-sm-12">
          <h6>BMW Grand Sedan</h6>
          <div class="clear"></div>
          <img class="fleet-ture-icon" [src]="assetsUrl + 'images/fleet-true-icon.png'" alt=""/>
          <div class="fleet-icon-heading">
          <h2>4 Passengers</h2> 
          </div>
          <div class="clear"></div>
          <img class="fleet-ture-icon" [src]="assetsUrl + 'images/fleet-true-icon.png'" alt=""/>
          <div class="fleet-icon-heading">
          <h2>2 Bags</h2> 
          </div>
          </div>
          <div class="clear"></div>
        </div>
        </div>
    </div>
  </div>
  <div class="service-border-line"></div>
  <!-- Fleet Section End-->
  
  <!-- Services Section Start-->
  <div class="container">
    <div class="row">
    <div class="col-12">
      <div class="service-heading">
      <h2>Our Services</h2>
      </div>
      </div>
      <div class="col-sm-2 padding">
        <a href="#"><img class="service-icon" [src]="assetsUrl + 'images/airport-icon.png'" alt=""/></a>
      </div>
      <div class="col-sm-4 service-col-padding">
        <div class="service-heading">
          <h3>Airport Transfers</h3>
        </div>
      </div>
      <div class="col-sm-2 padding">
        <a href="#"><img class="service-icon" [src]="assetsUrl + 'images/texi-icon.png'" alt=""/></a>
      </div>
      <div class="col-sm-4">
        <div class="service-heading">
          <h3>Local Reading taxi</h3>
        </div>
      </div>
      <div class="clear"></div>
      <div class="col-sm-2 padding">
        <a href="#"><img class="service-icon" [src]="assetsUrl + 'images/business-icon.png'" alt=""/></a>
      </div>
      <div class="col-sm-4">
        <div class="service-heading">
          <h3>Business travel</h3>
          
        </div>
      </div>
      <div class="col-sm-2 padding">
        <a href="#"><img class="service-icon" [src]="assetsUrl + 'images/personal-icon.png'" alt=""/></a>
      </div>
      <div class="col-sm-4">
        <div class="service-heading">
          <h3>Persotnal service</h3>
          
        </div>
      </div>
    </div>
  </div>
  <!-- Services Section End-->
  
  <!-- About Section Start-->
  <div class="row row-margin">
  <div class="col-sm-6 about-padding">
    <div class="about-bg">
      <div class="about-heading">
        <h2>About Us</h2>
        <p>In tellus massa, viverra a tincidunt sed, posuere eu nisi. Nulla semper dolor et urna dignissim dignissim. Suspendisse posuere nec eros quis dapibus. Etiam a purus sed quam pellentesque imperdiet. Curabitur sit amet mauris porta justo mattis mattis at ac lacus sed aliquam pellentesque consectetur.</p>
      </div>
      <button type="submit" class="about-button">Learn More</button>
    </div>
  </div>
  <div class="col-sm-6 about-padding">
    <a href="#"><img class="about-video" [src]="assetsUrl + 'images/about-video.jpg'" alt=""/></a>
  </div>
  </div>
  <!-- About Section End-->
  
  <!-- News Section Start-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h5>Latest News</h5>
      </div>
      <div class="col-sm-4">
        <div class="news-box">
          <a href="#"><img class="news-image" [src]="assetsUrl + 'images/news-image-1.jpg'" alt=""/></a>
          <div class="col-sm-12">
            <div class="news-heading">
              <h3>For This Week Only 10% Discounts On Fridays</h3>
            </div>
          </div>
          <div class="clear"></div>
          <div class="news-border"></div>
          <div class="row row-margin">
          <div class="col-sm-6">
            <img class="calender-icon" [src]="assetsUrl + 'images/celender-icon.png'" alt=""/>
            <div class="news-heading">
              <h2>February 1, 2017</h2>
            </div> 
            </div>
            <div class="col-sm-6">
            <img class="calender-icon" [src]="assetsUrl + 'images/comment-icon.png'" alt=""/>
            <div class="news-heading">
              <h2>2 Comments</h2>
            </div> 
            </div>
          </div>
            <div class="clear"></div>
            <div class="news-border"></div>
            <div class="col-sm-12">
              <div class="news-heading">
                <p>Sed suscipit pretium venenatis. Praesent ultrices convallis augue, in tincidunt nibh hendrerit sit amet. </p>
              </div>
            </div>
          <div class="clear"></div>
        </div>
      </div>
        <div class="col-sm-4">
        <div class="news-box">
          <a href="#"><img class="news-image" [src]="assetsUrl + 'images/news-image-2.jpg'" alt=""/></a>
          <div class="col-sm-12">
            <div class="news-heading">
              <h3>We’re Expanding To Los Angeles Next Week!</h3>
            </div>
          </div>
          <div class="clear"></div>
          <div class="news-border"></div>
          <div class="row row-margin">
          <div class="col-sm-6">
            <img class="calender-icon" [src]="assetsUrl + 'images/celender-icon.png'" alt=""/>
            <div class="news-heading">
              <h2>February 1, 2017</h2>
            </div> 
            </div>
            <div class="col-sm-6">
            <img class="calender-icon" [src]="assetsUrl + 'images/comment-icon.png'" alt=""/>
            <div class="news-heading">
              <h2>2 Comments</h2>
            </div> 
            </div>
          </div>
            <div class="clear"></div>
            <div class="news-border"></div>
            <div class="col-sm-12">
              <div class="news-heading">
                <p>Sed suscipit pretium venenatis. Praesent ultrices convallis augue, in tincidunt nibh hendrerit sit amet. </p>
              </div>
            </div>
          <div class="clear"></div>
        </div>
      </div>
        <div class="col-sm-4">
        <div class="news-box">
          <a href="#"><img class="news-image" [src]="assetsUrl + 'images/news-image-3.jpg'" alt=""/></a>
          <div class="col-sm-12">
            <div class="news-heading">
              <h3>Please Give A Warm Welcome To Our New Driver!</h3>
            </div>
          </div>
          <div class="clear"></div>
          <div class="news-border"></div>
          <div class="row row-margin">
          <div class="col-sm-6">
            <img class="calender-icon" [src]="assetsUrl + 'images/celender-icon.png'" alt=""/>
            <div class="news-heading">
              <h2>February 1, 2017</h2>
            </div> 
            </div>
            <div class="col-sm-6">
            <img class="calender-icon" [src]="assetsUrl + 'images/comment-icon.png'" alt=""/>
            <div class="news-heading">
              <h2>2 Comments</h2>
            </div> 
            </div>
          </div>
            <div class="clear"></div>
            <div class="news-border"></div>
            <div class="col-sm-12">
              <div class="news-heading">
                <p>Sed suscipit pretium venenatis. Praesent ultrices convallis augue, in tincidunt nibh hendrerit sit amet. </p>
              </div>
            </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- News Section End-->
  
  <!-- Travel Section Start-->
  <div class="travel-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center">
            <div class="travel-heading">
              <h2>Book Online Today And Travel In Comfort<br> On Your Next Trip</h2>
              <p>Call Us On 1111-1111-2222 or Email ifno@website.com</p>
            </div>
          </div>
        </div>
        <div class="col-12">
        <div class="text-center">
          <button type="submit" class="about-button">Contact Us</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Travel Section End-->
  
  <!-- Gallery And Testimonial Section Start-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h5>Photo Gallery</h5>
        <div class="row row-margin">
        <div class="col-sm-4">
          <a href="#"><img class="gallery-image" [src]="assetsUrl + 'images/gallery-image-1.jpg'" alt=""/></a>
        </div>
        <div class="col-sm-4">
          <a href="#"><img class="gallery-image" [src]="assetsUrl + 'images/gallery-image-1.jpg'" alt=""/></a>
        </div>
        <div class="col-sm-4">
          <a href="#"><img class="gallery-image" [src]="assetsUrl + 'images/gallery-image-1.jpg'" alt=""/></a>
        </div>
        <div class="col-sm-4">
          <a href="#"><img class="gallery-image" [src]="assetsUrl + 'images/gallery-image-1.jpg'" alt=""/></a>
        </div>
        <div class="col-sm-4">
          <a href="#"><img class="gallery-image" [src]="assetsUrl + 'images/gallery-image-1.jpg'" alt=""/></a>
        </div>
        <div class="col-sm-4">
          <a href="#"><img class="gallery-image" [src]="assetsUrl + 'images/gallery-image-1.jpg'" alt=""/></a>
        </div>
        </div>
        </div>
        <div class="col-sm-6">
        <h5>Testimonial</h5>
          <div class="demo">
          <div class="col-md-12 border">
                      <div id="testimonial-slider" class="owl-carousel">
                          <div class="testimonial">
                             <p class="description">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                              </p>
                             <div class="pic">
                                 <img [src]="assetsUrl + 'images/person-2.jpg'" alt=""/>
                              </div>
                             <div class="text-center">
                                 <div class="tes">
                                  <h5>Mike Jones-Luxury Sedan</h5>
                                </div>
                             </div>
                          </div>
                          <div class="testimonial">
                             <p class="description">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                              </p>
                              <div class="pic">
                                 <img [src]="assetsUrl + 'images/Sam-Revilter.jpg'" alt=""/>
                              </div>
                              <div class="text-center">
                                <div class="tes">
                                  <h5>Mike Jones-Luxury Sedan</h5>
                                </div>
                              </div>
                          </div>
                          <div class="testimonial">
                             <p class="description">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim diam, tempus vel ultricies viverra, luctus in elit. Aliquam tempus blandit velit, in pharetra ex volutpat a. Cras eu augue ac nisl tempor commodo.
                              </p>
                             <div class="pic">
                                  <img [src]="assetsUrl + 'images/team4-large.jpg'" alt=""/>
                              </div>
                             <div class="text-center">
                                <div class="tes">
                                  <h5>Mike Jones-Luxury Sedan</h5>
                                </div>
                              </div>
                          </div>
                      </div>
              </div>
               </div>
        </div>
    </div>
  </div>
  <!-- Gallery And Testimonial Section End-->	